- name: Update web servers
  hosts: webservers
  remote_user: ec2-user


  vars_prompt: 

  - name: trello_api_key
    prompt: What is your Trello API Key?

  - name: trello_api_token
    prompt: What is your Trello API Token?

  - name: trello_board_id
    prompt: What is your Trello Board ID?


  tasks:
  - name: Install te latest version of Git
    become: yes 
    ansible.builtin.yum:
      name: git
      state: latest

  - name: Install te latest version of Python
    become: yes 
    ansible.builtin.yum:
      name: python311
      state: latest    
  
  - name: Installing Poetry 
    ansible.builtin.shell: curl -sSL https://install.python-poetry.org | python3 -
    args:
      creates: /home/ec2-user/.local/bin/poetry
  
  - name: Create Application Folder
    become: yes 
    ansible.builtin.shell: mkdir /opt/todoapp
    args:
      creates: /opt/todoapp


  - name: Change App Folder Owner to ec2
    become: yes 
    ansible.builtin.shell: chown ec2-user /opt/todoapp

  - name: Git Checkout
    ansible.builtin.git:
      repo: 'https://github.com/faraiwande/to_do_application.git'
      dest: /opt/todoapp
      version: ASMA-0004
    

  - name: Install Python Dependecies with Poetry
    become: yes 
    ansible.builtin.shell: /home/ec2-user/.local/bin/poetry install
    args:
      chdir: /opt/todoapp

  - name: .env file copy from template
    ansible.builtin.template:
      src: /home/ec2-user/.env.j2
      dest: /opt/todoapp/.env
