name: Continuous Integration
on: 
  push:
    paths-ignore:
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'README.md'
jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: docker build --target test --tag todo_app:test -f dockerfiles/Dockerfile.todo_app .
    - run: docker run todo_app:test

  deploy: 
    name: Docker Hub Push & Triggers App Service Deploy
    runs-on: ubuntu-latest
    needs: build 
    if: ${{github.event_name=='push' && github.ref=='refs/heads/main'}}
    steps:
       - uses: actions/checkout@v2
       - run: echo hello deploy
       - name: Login to Docker Hub
         uses: docker/login-action@v3
         with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
       - run: docker build --target prod --tag fwande/todo_app:prod -f dockerfiles/Dockerfile.todo_app .
       - run: docker push fwande/todo_app:prod
       - run: curl -dH -X POST '${{ secrets.APP_SERVICE_DEPLOYMENT_WEBHOOK }}'
      
       
